name: build

on:
  push:

jobs:
  build:
    name: build

    runs-on: ubuntu-latest
    
    steps:
      - name: Install MUSL
        run: sudo apt install -y musl-tools

      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Add "x86_64-unknown-linux-musl" target
        run: rustup target add x86_64-unknown-linux-musl

      - name: Build
        run: cargo build
